    @import url('https://fonts.google.com/specimen/Montserrat?query=monts');
    @import url('https://fonts.google.com/specimen/Abril+Fatface?query=abril&sidebar.open&selection.family=Abril+Fatface');

    * {
        font-family: 'Montserrat';
    }

    body {
        margin: 0 auto;
    }

    section.top-page {
        background: url('../images/bg.jpg');
        height: 80vh;
        padding: 25px;
    }

    header.header {
        display: flex;
        align-items: center;
    }

    .header img {
        width: 150px;
    }

    /* menue de naviguation */
    nav.nav {
        display: flex;
        list-style: none;
        width: 400px;
        margin-left: 30px;
        justify-content: space-between;


    }

    nav.nav li a{
        color: white;
    }
    a{
        text-decoration: none;
        font-family: 'Abril Fatface', cursive;

    }



    /* page de binvenue ( landing page) */
    .landing-page {
        padding: 20px 50px;
    }

    .big-title {
        color: white;
        font-size: 80px;
        font-family: 'Abril Fatface', cursive;
        font-weight: 100;

    }

    .Scroll-down {
        color: white;
        text-decoration: none;
        position: absolute;
        bottom: 150px;
    }

    /* services */
    .service {
        display: flex;
        justify-content: space-evenly;
        margin: 50px;
    }

    .delivery-icone {
        color: #ADD981;
        font-size: 50px;
    }

    .service_item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .service-dedails {
        font-weight: 600;
        width: 150px;
        text-align: center;
    }

    /* best-sells */

    .section-title {
        font-size: 50px;
        font-weight: 100;
        position: relative;
    }

    .section-title::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 7px;
        background-color: #ADD981;
        bottom: 0;
    }

    .best-plants {
        background-color: red;
        min-height: 400px;
        display: flex;
        flex-wrap:wrap;
        
        
    }
    .best-items{
margin: 50px;
    }

    .plant-box {
        background-size: cover;
        background-position: center;
        min-width: 250px;
        flex: 1;
        height: 400px;
        position: relative;

    }
    
    .plants1{
        background-image: url(../images/nos_meilleures_ventes/1.jpg);

    }

    .plants-details{
        position: absolute;
        bottom: 0px;
        background-color: #FFFFFFDF;
        width: 100%;
        padding: 5px 20px;
    }
    .plant-name{
        font-size: 22px;
        font-weight: 600;
        line-height: 3px;
    }
    .plants-price{
        color: #ADD981 ;
        font-weight: 800;
        line-height: 3px;
        font-size: 14px;
    }
    .plants2{
        background-image: url(../images/nos_meilleures_ventes/2.jpg);
        
    }
    .plants3{
        background-image: url(../images/nos_meilleures_ventes/3.jpg);
    }
    .plants4{
        background-image: url(../images/nos_meilleures_ventes/4.jpg);
        
    }

    

    .all-plants{
        margin: 100px;
    }
    .plant-grid{
        display: grid;
        min-height: 150vh;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,400px);
    }
    .plant-grid1{
        background-image: url(../images/nos_plantes/1.jpg);
        grid-column: 1/3;
        grid-row: 1/3;
    }
    .plant-grid2{
        background-image: url(../images/nos_plantes/2.jpg);
        grid-column: 3/5;
    }

    .plant-grid3{
        background-image: url(../images/nos_plantes/3.jpg);
        grid-column: 1/5 ;
        grid-row: 3/3;
    }

    .plant-grid4{
        background-image: url(../images/nos_plantes/4.jpg);
        grid-column: 1;
        grid-row: 2/5;
        
    }

    .plant-grid5{
        background-image: url(../images/nos_plantes/5.jpg);
        grid-row: 2/5;
        grid-column: 2/4;
    }
    .plant-grid6{
        background-image: url(../images/nos_plantes/6.jpg);
        grid-column:4 ;
        grid-row: 2/5;
    }

    /* pied de page */

    footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 100 px;
        font-weight: 600;
    }

    footer a.cgv{
        text-decoration: none;
        color:black;
    }